body {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
}

.row {
    display: flex;
    flex: 1;
}

.col {
    min-height: 1px;
    min-width: 1px;
    border: 1px solid black;
    flex: 1;
}

.hovered {
    background-color: black;
}